@import url(./css/layouts/menu.css);
@import url(./css/layouts/navbar.css);
@import url(./css/layouts/content.css);
@import url(./css/layouts/ticket.css);
@import url(./css/pages/login.css);
@import url(./css/components/ticket.css);
@import url(./css/components/loading.css);
@import url(./css/components/orderInfo.css);

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.main-content {
  background-color: #edf2fb;
  flex: 1;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
}

.input-label {
  margin-bottom: 8px;
}

.input-text {
  border: 1px solid #959595;
  border-radius: 8px;
  background-color: inherit;
  outline: none;
  height: 40px;
  padding: 0 16px;
  font-size: 14px;
  margin-bottom: 16px;
}

.input-text::placeholder {
  opacity: 0.6;
}

.button {
  min-width: 100px;
  height: 40px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0 16px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #0082ec;
}
