.cart-page {
  display: flex;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.cart-left {
  width: 70%;
  margin-right: 20px;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.table th {
  height: 40px;
  text-transform: uppercase;
  background-color: #f5f5f5;
}

.table td {
  border-bottom: 1px solid #ccc;
  padding: 16px 0;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item-image {
  width: 60px;
  height: 60px;
  margin-right: 24px;
  object-fit: cover;
}

.cart-right {
  flex: 1;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .cart-left {
    width: 60%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1024px) {
  .cart-price,
  .cart-quantity {
    display: none;
  }
  .cart-time {
    width: 50% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .cart-time,
  .cart-price,
  .cart-quantity {
    display: none;
  }
  .cart-left {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .cart-time,
  .cart-price,
  .cart-quantity {
    display: none;
  }
  .cart-page {
    flex-direction: column;
  }
  .cart-left {
    width: calc(100% - 48px);
    margin-right: 0;
  }
}
