.homepage {
  border-radius: 8px;
  background: #fff;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.homepage h1 {
  font-size: 48px;
  color: #013a63;
}

.homepage p {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 16px;
}